@using AsciiPinyin.Web.Client.Components
@using AsciiPinyin.Web.Client.Pages.IndexComponents.ChacharsTabComponents
@using AsciiPinyin.Web.Shared.Components
@using AsciiPinyin.Web.Shared.Constants
@using AsciiPinyin.Web.Shared.Models
@using AsciiPinyin.Web.Shared.Resources

@inherits ChacharsTabBase

<div class="tab-root" id="@IDs.NAVBAR_CHACHARS_TAB_ROOT">
    @if (IsVisible)
    {
        @if (!Index.Chachars.Any())
        {
            Logger.LogWarning("ChacharsTab: No chachars retrieved from the server.");
        }
        else
        {
            <div class="container-cards container-cards-tab">
                <NewEntityCard
                    Label="@($"{Localizer[Resource.NewMale]}...")"
                    ShowEntityFormAsync="@ShowChacharFormAsync" />
                <EntityCards
                    T="@Chachar"
                    Entities="@Index.Chachars"
                    SelectEntityAsync="@ShowChacharViewDialogAsync"
                    SelectorClass="@CssClasses.CHACHAR_SELECTOR" />
            </div>
        }
    }
</div>

<ChacharForm @ref="ChacharForm" Index="Index" />
<ChacharViewDialog @ref="ChacharViewDialog" Index="Index" />
