@using AsciiPinyin.Web.Shared.Components
@using AsciiPinyin.Web.Shared.Constants
@using AsciiPinyin.Web.Shared.Resources
@using Microsoft.AspNetCore.Components.Web

@inherits ProcessDialogBase

<div
    class="modal fade @Classes"
    tabindex="-1"
    role="dialog"
    style="z-index: @ZIndex"
    id="@RootId">
    <div
        class="modal-dialog modal-dialog-centered"
        role="document">
        <div
            class="modal-content"
            id="@IDs.PROCESS_DIALOG_MODAL_CONTENT">
            <div
                class="modal-header @HeaderClasses"
                id="@IDs.PROCESS_DIALOG_HEADER">
                <div class="fw-bold text-center text-uppercase text-white w-100">@HeaderText</div>
            </div>
            <div class="modal-body">
                <Loading
                    Classes="@LoadingClasses"
                    TextResource="@Resource.Processing" />
                <div
                    class="@BodyTextClasses"
                    id="@IDs.PROCESS_DIALOG_BODY">@BodyText</div>
            </div>
            <div class="modal-footer border-0 bottom-0 end-0 @FooterClasses">
                <button
                    type="button"
                    class="btn btn-modal btn-danger @ButtonBackClasses"
                    id="@IDs.PROCESS_DIALOG_BUTTON_BACK"
                    @onclick="async _ => await ModalCommons.CloseHigherLevelAsyncCommon(this, CancellationToken.None)">
                    <span>@Localizer[Resource.Back]</span>
                </button>
                <button
                    type="button"
                    class="btn btn-modal btn-primary ms-3 @ButtonProceedClasses"
                    id="@IDs.PROCESS_DIALOG_BUTTON_PROCEED"
                    @onclick="async _ => await ProceedAsync(CancellationToken.None)">
                    <span>@ButtonProceedText</span>
                </button>
            </div>
        </div>
    </div>
</div>
