@using AsciiPinyin.Web.Client.Components
@using AsciiPinyin.Web.Shared.Constants
@using AsciiPinyin.Web.Shared.Resources
@using Microsoft.AspNetCore.Components.Web

@inherits AlternativeViewDialogBase

<div
    class="modal fade @CssClasses.D_NONE"
    tabindex="-1"
    role="dialog"
    id="@RootId">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-between">
                <div></div>
                <h2 class="modal-title fw-bold" id="theCharacter">@(Alternative?.TheCharacter ?? string.Empty)</h2>
                <CloseButton CloseAsync="@CloseAsync" CancellationToken="@CancellationToken.None" />
            </div>
            <div class="modal-body">
                <p class="card-text">
                    @($"{Localizer[Resource.NumberOfStrokes]}: {Alternative?.Strokes?.ToString() ?? string.Empty}")
                </p>
                <p class="card-text">
                    @($"{Localizer[Resource.BaseCharacter]}: {Alternative?.OriginalCharacter ?? string.Empty}")
                </p>
                <p class="card-text">
                    @($"{Localizer[Resource.BaseCharacterPinyin]}: {Alternative?.OriginalRealPinyin ?? string.Empty}")
                </p>
            </div>
            <div class="border-0 modal-footer">
                <button
                    type="button"
                    class="btn btn-modal btn-danger @DisableDeleteCss"
                    @onclick="async _ => await InitiateDeleteAsync(CancellationToken.None)">
                    <span>@Localizer[Resource.Delete]</span>
                </button>
                <button
                    type="button"
                    class="btn btn-modal btn-primary"
                    aria-label="@Localizer[Resource.Edit]">
                    <span>@Localizer[Resource.Edit]</span>
                </button>
            </div>
        </div>
    </div>
</div>
