@using AsciiPinyin.Web.Shared.Resources
@using Microsoft.AspNetCore.Components.Web

@inherits AlternativeViewDialogBase

<div class="modal-backdrop fade @ModalShow @ModalDisplay"></div>
<div class="modal fade @ModalShow @ModalDisplay" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-between">
                <div></div>
                <h2 class="modal-title fw-bold" id="theCharacter">@Alternative?.TheCharacter</h2>
                <button
                    @onclick="(_ => UnsetAlternative())"
                    type="button"
                    class="btn btn-primary"
                    aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="card-text">
                    @($"{Localizer[Resource.NumberOfStrokes]}: {Alternative?.Strokes}")
                </p>
                <p class="card-text">
                    @($"{Localizer[Resource.BaseCharacter]}: {Alternative?.OriginalCharacter}")
                </p>
                <p class="card-text">
                    @($"{Localizer[Resource.BaseCharacterPinyin]}: {Alternative?.OriginalPinyin}{Alternative?.OriginalTone}")
                </p>
            </div>
        </div>
    </div>
</div>
