@using AsciiPinyin.Web.Client.Pages.IndexComponents
@using AsciiPinyin.Web.Shared.Components
@using AsciiPinyin.Web.Shared.Constants
@using AsciiPinyin.Web.Shared.Resources
@using Microsoft.AspNetCore.Components.Web

@page "/"
@inherits IndexBase

<div
    class="modal-backdrop fade @CssClasses.D_NONE"
    style="z-index: @ByteConstants.INDEX_BACKDROP_Z"
    id="@IDs.INDEX_BACKDROP">
</div>
<Header />
<div
    class="container"
    id="@IDs.INDEX_ROOT">
    <main class="pb-3">
        <nav class="navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow mb-3">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <input
                            class="nav-link tab-button @CssClasses.TEXT_DARK @GetActiveIfVisible(chacharsTab)"
                            type="button"
                            value="@Localizer[Resource.Characters]"
                            @onclick='async _ => await SelectTabAsync(chacharsTab, CancellationToken.None)' />
                    </li>
                    <li class="nav-item">
                        <input
                            class="nav-link tab-button @CssClasses.TEXT_DARK @GetActiveIfVisible(alternativesTab)"
                            type="button"
                            value="@Localizer[Resource.Alternatives]"
                            @onclick='async _ => await SelectTabAsync(alternativesTab, CancellationToken.None)' />
                    </li>
                </ul>
            </div>
        </nav>
        <div id="@IDs.ENTITIES_TABS_LOADING">
            <Loading />
        </div>
        <AlternativesTab @ref="alternativesTab" Index="this" />
        <ChacharsTab @ref="chacharsTab" Index="this" />
    </main>
</div>
<Footer />
