@using AsciiPinyin.Web.Client.Pages.IndexComponents
@using AsciiPinyin.Web.Shared.Components
@using AsciiPinyin.Web.Shared.Constants
@using AsciiPinyin.Web.Shared.Resources
@using Microsoft.AspNetCore.Components.Web

@page "/"
@inherits IndexBase

<div
    class="modal-backdrop fade @CssClasses.D_NONE"
    style="z-index: @ByteConstants.INDEX_BACKDROP_Z"
    id="@IDs.INDEX_BACKDROP">
</div>
<Header />
<div
    class="container"
    id="@IDs.INDEX_ROOT">
    <main class="pb-3">
        <NavBar
            AlternativesTab="AlternativesTab"
            ChacharsTab="ChacharsTab"
            SelectTabAsync="SelectTabAsync" />

        <div id="@IDs.ENTITIES_TABS_LOADING">
            <Loading />
        </div>

        <AlternativesTab @ref="AlternativesTab" Index="this" />
        <ChacharsTab @ref="ChacharsTab" Index="this" />
    </main>
</div>
<Footer />
