@using AsciiPinyin.Web.Client.Pages.IndexComponents
@using AsciiPinyin.Web.Shared.Components
@using AsciiPinyin.Web.Shared.Constants
@using AsciiPinyin.Web.Shared.Resources
@using Microsoft.AspNetCore.Components.Web

@page "/"
@inherits IndexBase

<div
    class="modal-backdrop fade @BackdropClasses"
    style="z-index: @NumberConstants.INDEX_BACKDROP_Z">
</div>

<div
    class="container pb-5"
    id="@IDs.INDEX_ROOT">
    <NavBar
        AlternativesTab="AlternativesTab"
        ChacharsTab="ChacharsTab"
        SelectTabAsync="SelectTabAsync" />

    @* No point in passing entities separately as cascading parameters. *@
    @* You need to pass Index down anyway, so it's OK to keep entities embedded in Index. *@
    <AlternativesTab @ref="AlternativesTab" Index="@this" />
    <ChacharsTab @ref="ChacharsTab" Index="@this" />
</div>

<ProcessDialog @ref="ProcessDialog" />
