@page "/"
@inherits IndexBase
@using AsciiPinyin.Web.Client.Components.Alternatives
@using AsciiPinyin.Web.Client.Components.Chachars
@using AsciiPinyin.Web.Client.Shared.Constants

<header>
    <nav class="navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow mb-3">
        <div class="mt-3 text-center">
            <h1 class="display-1 fw-bolder">@(Lokal.Ascii)&nbsp;@(StringConstants.PINYIN_CHINESE)</h1>
        </div>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <input
                        class="nav-link text-dark @GetActiveIfVisible(chacharsTab)"
                        type="button"
                        value="@Lokal.Characters"
                        @onclick='_ => SelectTab(chacharsTab)'/>
                </li>
                <li class="nav-item">
                    <input
                        class="nav-link text-dark @GetActiveIfVisible(alternativesTab)"
                        type="button"
                        value="@Lokal.Alternatives"
                        @onclick='_ => SelectTab(alternativesTab)'/>
                </li>
            </ul>
        </div>
    </nav>
</header>

<AlternativesTab @ref="alternativesTab" />
<ChacharsTab @ref="chacharsTab" />
