@page "/"
@inherits IndexBase
@using AsciiPinyin.Web.Client.Components

<header>
    <nav class="navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow mb-3">
        <div class="text-center">
            <h1 class="display-1 fw-bolder">ASCII&nbsp;拼音</h1>
        </div>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <input
                        class="nav-link text-capitalize text-dark @GetActiveIfActive(typeof(ChacharList))"
                        type="button"
                        value="@SafeLocalizer.GetString("Characters")"
                        @onclick='_ => SelectTabWithLocalizedTitle(typeof(ChacharList), "Characters")'/>
                </li>
                <li class="nav-item">
                    <input
                        class="nav-link text-capitalize text-dark @GetActiveIfActive(typeof(AlternativeList))"
                        type="button"
                        value="@SafeLocalizer.GetString("Alternatives")"
                        @onclick='_ => SelectTabWithLocalizedTitle(typeof(AlternativeList), "Alternatives")'/>
                </li>
            </ul>
        </div>
    </nav>
</header>

@if (SelectedTabType.Equals(typeof(AlternativeList)))
{
    <AlternativeList />
    // <AlternativeList Alternatives="@Alternatives" />
}
else
{
    <ChacharList Chachars="@Chachars" />
}
