@using AsciiPinyin.Web.Models
@using AsciiPinyin.Web.Services
@inject ChacharJsonService _chacharJsonService

<!--Using CSS from Bootstrap-->
<div class="card-columns" style="column-count: 3;">
    @foreach (var chachar in _chacharJsonService.GetChachars())
    {
        <div class="card text-center">
            <div class="card-body">
                <h2 class="card-title">@chachar.TheCharacter</h2>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">
                <button
                    @onclick="_ => SelectChachar(chachar.Unicode)"
                    class="btn btn-primary">More info</button>
            </small>
        </div>
    }
</div>

@if (_selectedChachar != null)
{
    <div id="chacharModal" tabindex="-1" role="dialog" aria-labelledby="theCharacter" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered" role="document">
             <div class="modal-content">
                 <div class="modal-header">
                     <h5 class="modal-title" id="theCharacter">@_selectedChachar.TheCharacter</h5>
                     <button
                         @onclick="_ => UnselectChachar()"
                         type="button"
                         class="btn btn-primary"
                         aria-label="Close">
                         <span>&times;</span>
                     </button>
                 </div>
                 <div class="modal-body">
                     <div class="card">
                         <div class="card-body">
                             <p class="card-text">Strokes: @_selectedChachar.Strokes</p>
                             <p class="card-text">Pinyin: @_selectedChachar.Piniyin</p>
                             <p class="card-text">IPA: @_selectedChachar.Ipa</p>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
}

@code {
    Chachar? _selectedChachar;

    void SelectChachar(string unicode)
    {
        _selectedChachar = _chacharJsonService.GetChachars().First(c => c.Unicode == unicode);
    }

    void UnselectChachar()
    {
        _selectedChachar = null;
    }
}
